.locationPlatter {
    width: 100%;
    height: 140vh;
    background: #2A363B;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    padding: 20px;
  }
  
  .locationPlatter-text {
    text-align: center;
  }
  
  .locationPlatter-text h1 {
    margin-top: 600px;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .locationPlatter-text p {
    font-size: 1.2rem;
    margin: 0 auto;
    max-width: 800px;
    line-height: 1.5;
  }
  
  .photo-grid {
    display: flex;
    justify-content: center; /* Align all content in the center */
    align-items: flex-start; /* Align the items to the top */
    gap: 30px; /* Space between the left and right side images */
    margin-top: 20px;
    width: 100%;
  }
  
  .main-image {
    width: 49.4%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
    cursor: pointer;
  }
  
  .main-image:hover {
    transform: scale(1.05);
  }
  
  .side-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px; /* Space between images */
    width: 50%; /* Ensure the side images take 30% of the container */
  }
  
  .side-images img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
    cursor: pointer;
  }
  
  .side-images img:hover {
    transform: scale(1.05);
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .description-container {
    max-width: 100%;
    margin-top: 50px;
    background-color: #f8f8f8;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin-left: 0%;
    box-shadow: #000000;
  }
  
  .side-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
  }
  
  .map-view,
  .weather-view {
    flex: 1;
    padding: 20px;
    background-color: #ececec;
    border-radius: 10px;
    color: #000000;
    box-shadow: 2px 4px 10px 1px rgba(145, 145, 145, 0.47);
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    position: relative;
    width: 80%;
    max-width: 800px;
  }
  
  .modal-content img {
    width: 100%;
    border-radius: 10px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: #000000;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }
  
  .close-button:hover {
    color: #ff5757;
  }
  
  .guides-container {
    margin-top: 550px;
    padding: 20px;
    background-color: #ececec;
    border-radius: 10px;
    box-shadow: 2px 4px 10px 1px rgba(145, 145, 145, 0.47);
    width: 100%; /* Ensure it aligns with the side-info section */
  }
  
  .guides-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
  
  .guide-card {
    width: calc(25% - 20px); /* Four cards in a row with spacing */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
  }
  
  .guide-photo {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  /* Star Rating */
  .star-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  
  .star {
    font-size: 1.2rem;
    color: #ccc; /* Default star color */
    margin: 0 2px;
    transition: color 0.2s ease-in-out;
  }
  
  .star.filled {
    color: #f5c518; /* Gold color for filled stars */
  }
  
  .view-more-button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #2a363b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .view-more-button:hover {
    background-color: #1d262a;
  }
  
  
  
  
  .shops-container {
    margin-top: 50px;
    padding: 20px;
    background-color: #ececec;
    border-radius: 10px;
    box-shadow: 2px 4px 10px 1px rgba(145, 145, 145, 0.47);
    width: 100%; /* Ensure it aligns with the side-info section */
  }
  
  .shops-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
  
  .shop-card {
    width: calc(25% - 20px); /* Four cards in a row with spacing */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
  }
  
  .shop-photo {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .view-more-button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #2a363b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .view-more-button:hover {
    background-color: #1d262a;
  }