.locationView{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
  
  .locationPlatter {
    height: 100vh;
    background: #2A363B;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .locationPlatter-text {
      text-align: center;
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 94%;

      h1 {
        font-size: 50px;
        font-weight: bold;
      }

      p {
        margin: 5px auto;
        line-height: 1.3;
        font-size: 18px;
      }
    }

    .photo-grid {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 20px 0;
      gap: 20px;
      width: 100%;
      height: 420px;

      .main-image {
        width: 50%;
        height: 100%;
        align-items: center;
        justify-content: center;

        img{
          width: 100%;
          height: 100%;
          border-radius: 10px;
          transition: transform 0.3s;
          cursor: pointer;
          object-fit: cover;
        }
      }

      .main-image:hover {
        transform: scale(1.05);
      }

      .side-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        gap: 20px;

        img {
          border-radius: 10px;
          transition: transform 0.3s;
          cursor: pointer;
          object-fit: cover;
          width: 300px;
          height: 200px;
        }

        img:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  .main-container {
    display: flex;
    flex: 2;
    flex-direction: column;
    width: 94%;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #425060;

    .description-container {
      background-color: #f8f8f8;
      border-radius: 10px;
      box-shadow: 2px 4px 10px 1px rgba(145, 145, 145, 0.47);
      padding: 20px;
      width: 100%;

      p{
        font-size: 18px;
        line-height: 1.3;
      }
    }

    .side-info {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 20px;
      align-items: center;
      justify-content: center;

      .map-view, .weather-view {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 400px;
        background-color: #f8f8f8;
        border-radius: 10px;
        box-shadow: 2px 4px 10px 1px rgba(145, 145, 145, 0.47);
        padding: 20px;
        align-items: center;
        justify-content: center;
        gap: 10px;

        h2{
          font-size: 25px;
        }
      }
    }

    .guides-container, .shops-container, .reviews-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #f8f8f8;
      border-radius: 10px;
      box-shadow: 2px 4px 10px 1px rgba(145, 145, 145, 0.47);
      padding: 20px;
      gap: 10px;
      align-items: center;
      justify-content: center;

      .guides-list, .shops-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        background-color: #f9f9f9;

        .guideTile, .shopTile {
          width: 250px;
          height: 400px;
          background: #ffffff;
          border-radius: 10px;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
      }
    }
  }
}

.guideTile:hover, .shopTile:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.tile-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.tile-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile-content h3 {
  font-size: 20px;
  margin: 0 0 10px 0;
  color: #333;
}

.tile-content p {
  font-size: 15px;
  color: #666;
  text-align: justify;
  line-height: 1.3;
}

.star-rating {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.star {
  font-size: 20px;
  color: #ccc;
  margin-right: 3px;
}

.star.filled {
  color: #ffbc00;
}

.view-more-button {
  display: block;
  margin: 10px auto 0;
  padding: 10px 20px;
  background-color: #2a363b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-more-button:hover {
  background-color: #1d262a;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
  
.modal-content {
  position: relative;
  width: 80%;
  max-width: 800px;
}
  
.modal-content img {
  width: 100%;
  border-radius: 10px;
}
  
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  color: #000000;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}
  
.close-button:hover {
  color: #ff5757;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 5px;
}

.reviewTile {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 4px 10px 1px #ddd;
  padding: 20px;
  align-items: center;
  justify-content: center;
  color: #425060;

  .review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    h3{
      font-size: 18px;
    }
  }
  
  .review-comment {
    margin-top: 10px;
    font-size: 15px;
  }
}