.viewShop{
    display: flex;

    .viewShopContainer{
        flex: 6;

        .top{
            display: flex;
            flex: 1;
            flex-direction: column;
            height: auto;
            align-items: center;
            justify-content: center;
            -webkit-box-shadow: 2px 2px 5px 1px #425060;
            box-shadow: 2px 2px 5px 1px #a0afc1;
            border-radius: 5px;
            padding: 20px;
            gap: 40px;

            h1{
                font-size: 25px;
                color: #425060;
            }

            .imageGallery {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 40px;

                .img{
                    font-size: 180px;
                    object-fit: cover;
                    border-radius: 10px;
                    color: #a0afc1;
                }
            }

            .details{
                display: flex;
                flex-direction: column;
                gap: 20px;
                color: #425060;
                font-size: 20px;

                p{
                    font-weight: 400;
                }

                p strong{
                    font-weight: bold;
                }
            }
        }
    }
}