.adminNavbar{
    height: 75px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: black;
    background-color: whitesmoke;
    border-bottom: 1px solid rgb(145, 145, 145);

    .adminNavbarContainer{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: end;
        padding: 50px;

        .items{
            display: flex;
            align-items: center;
            gap: 20px;

            .item{
                display: flex;
                align-items: center;
                gap: 5px;

                .profileImg{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 1px solid red;
                    cursor: pointer;
                }
            }
        }
    }
}