.title{
    text-align: center;
    color: #000F38;
    font-size: 15px;
    font-weight: 600;
    text-transform: none;
    margin: 70px 0 30px;
}

.title h2{
    font-size: 32px;
    color: #212EA0;
    margin-top: 5px;
    text-transform: uppercase;
}

.title button{
    background: #212121;
    color: #fff;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    margin-top: 10px;
}