.addNewLocation{
    width: 100%;
    display: flex;

    .addNewLocationContainer{
        flex: 6;

        .top{
            display: flex;
            height: 75px;
            align-items: center;
            justify-content: center;
            -webkit-box-shadow: 2px 2px 5px 1px #425060;
            box-shadow: 2px 2px 5px 1px #a0afc1;
            border-radius: 5px;
            margin: 20px;

            h1{
                color: #425060;
                font-size: 30px;
            }
        }

        .bottom{
            display: flex;
            flex-direction: column;
            height: auto;
            -webkit-box-shadow: 2px 2px 5px 1px #425060;
            box-shadow: 2px 2px 5px 1px #a0afc1;
            border-radius: 5px;
            margin: 20px;
            padding: 20px;

            .images{
                display: flex;
                align-items: center;
                justify-content: center;

                .imageGrid{
                    display: flex;
                    flex-direction: row;
                    gap: 40px;

                    .imageContainer{
                        position: relative;
                        margin: 5px;

                        .imageWrapper{
                            position: relative;

                            .imagePreview{
                                width: 120px;
                                height: 120px;
                                object-fit: cover;
                                border-radius: 10px;
                                color: #a0afc1;
                            }

                            .removeIcon {
                                position: absolute;
                                top: 5px;
                                right: 5px;
                                cursor: pointer;
                                color: red;
                                background-color: #f0f0f0;
                                border: 2px solid red;
                                border-radius: 5px;
                                font-size: 20px;
                            }
                        }

                        .placeholder{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 120px;
                            height: 120px;
                            border-radius: 10px;
                            color: #a0afc1;
                            background-color: #f5f5f5;
                        }
                    }
                }
            }

            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .uploadButtons{
                    display: flex;
                    flex-direction: row;
                    gap: 50px;

                    .formInput{
                        width: 120px;

                        .fileUploadLabel{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            cursor: pointer;
                            background-color: white;
                            padding: 5px 5px;
                            border: 1px dotted #616161;
                            border-radius: 5px;
                            transition: background-color 0.3s;
    
                            .uploadIcon{
                                font-size: 15px;
                                color: #616161;
                            }
                        }
    
                        .fileUploadLabel:hover{
                            -webkit-box-shadow: 2px 2px 5px 1px #425060;
                            box-shadow: 2px 2px 5px 1px #a0afc1;
                            background-color: #f0f0f0;
                            border: none;
                        }
                    }
                }

                .inputFields{
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    margin: 20px 0;
                    gap: 30px;

                    .formInput{
                        color: #616161;
    
                        label{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            font-size: 18px;
                            font-weight: bold;
                        }
    
                        input, select{
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid #616161;
                            font-size: 18px;
                            outline: none;
                            background-color: transparent;
    
                            &::placeholder{
                                font-size: 15px;
                            }
                        }
    
                        select{
                            cursor: pointer;
    
                            option{
                                font-size: 15px;
                            }
                        }
                    }
                }

                button{
                    display: flex;
                    align-self: center;
                    justify-content: center;
                    width: 150px;
                    padding: 10px;
                    margin: 10px 0;
                    border: none;
                    border-radius: 5px;
                    background-color: #425060;
                    color: white;
                    font-size: 18px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
}