.viewGuide {
    display: flex;

    .viewGuideContainer {
        flex: 6;

        .top {
            display: flex;
            flex: 1;
            flex-direction: column;
            height: auto;
            align-items: center;
            justify-content: center;
            -webkit-box-shadow: 2px 2px 5px 1px #425060;
            box-shadow: 2px 2px 5px 1px #a0afc1;
            border-radius: 5px;
            margin: 20px;
            padding: 20px;
            gap: 40px;

            h1{
                font-size: 25px;
                color: #425060;
            }

            .imageGallery {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 40px;

                img{
                    width: 120px;
                    height: 120px;
                    object-fit: cover;
                    border-radius: 10px;
                    color: #a0afc1;
                }
            }

            .details{
                display: flex;
                flex-direction: column;
                gap: 20px;
                color: #425060;
                font-size: 20px;

                p{
                    font-weight: 400;
                }

                p strong{
                    font-weight: bold;
                }
            }
        }
    }
}

.mainImage input[type="file"] + label,
.extraImage input[type="file"] + label {
    display: flex;
    width: 120px;
}

.mainImage .mainImg,
.extraImage .extraImg {
    display: none;
}

.mainImage label,
.extraImage label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    background-color: white;
    padding: 5px 5px;
    border: 1px dotted #616161;
    border-radius: 5px;
    width: 120px;
    font-size: 13px;
    transition: background-color 0.3s;
}

.mainImage label:hover,
.extraImage label:hover {
    -webkit-box-shadow: 2px 2px 5px 1px #425060;
    box-shadow: 2px 2px 5px 1px #a0afc1;
    background-color: #f0f0f0;
    border: none;
    width: 120px;
    font-size: 13px;
}