/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Arial", sans-serif;
    background-color: #f7f7f7;
    color: #333;
  }
  
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #14a039;
  }
  
  /* Hero Section */
  .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
  }
  
  .hero-text {
    flex: 1;
    margin-right: 30px;
  }
  
  .greeting {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #666;
  }
  
  .hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    line-height: 1.3;
  }
  
  .highlight {
    color: #0b882a;
  }
  
  .description {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555;
  }
  
  .cta-buttons {
    margin-top: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #6c63ff;
    color: #fff;
    margin-right: 15px;
  }
  
  .btn-primary:hover {
    background-color: #594ae2;
  }
  
  .btn-secondary {
    background-color: transparent;
    color: #6c63ff;
    border: 2px solid #6c63ff;
  }
  
  .btn-secondary:hover {
    background-color: #6c63ff;
    color: #fff;
  }
  
  /* Hero Image */
  .hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .profile-picture {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #6c63ff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  