/* ViewItem.css */

.viewItem {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)), url('../../Assets/Background.jpg');
    padding: 20px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

    .viewItemContainer {
        max-width: 600px;
        margin: 20px auto;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin-top: 100px;

        .top {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column; /* Stack items vertically */
            padding: 20px;
            align-items: center; /* Center all child elements */
            gap: 20px;
        
            .itemImg {
                max-width: 400px;
                width: 100%;
                border-radius: 8px;
                object-fit: cover;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
                border: 1px solid #ddd;
            }
        
            .right {
                display: flex;
                flex-direction: column;
                gap: 15px;
                margin-left: 15px;

                .details{
                    .itemTitle{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px 0;
                        border-bottom: 1px solid #eee;
                        gap: 10px;
                        font-weight: bold;
                        color: #333;
                
                        .itemValue {
                            font-size: 40px;
                            color: #555;
                            text-align: right;
                        }
                    }
                }
            }
        
            .shopbutton {
                margin-top: 20px;
                padding: 10px 20px;
                font-size: 16px;
                font-weight: 600;
                color: #7451f8;
                background-color: #7551f818;
                border-radius: 5px;
                cursor: pointer;
                align-self: center; /* Center horizontally */
            }
            
        }
    }
}

.detailItem {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    gap: 10px;
    font-size: 20px;
}

.itemKey {
    font-weight: bold;
    color: #333;
}

.itemValue {
    color: #555;
    text-align: start;
}

.itemValue span {
    color: #ff5722;
    font-weight: bold;
}

.detailItem:last-child {
    border-bottom: none;
}

@media screen and (max-width: 768px) {
    .top {
        flex-direction: column;
        align-items: center;
    }

    .itemImg {
        max-width: 100%;
    }
}
